body, html {
    color: #222;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f2f2f2;
    color: #70757a;
    display: flex;
}

header {
    display: flex;
    height: 60px;
}

.bar-link {
    padding: 15px;
}

.bar-icon {
    
}

.spacer {
    flex-grow: 1;
}

.search-bar-button {
    margin: 11px 4px;
    padding: 0 8px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#search-area {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

#gs-ifl-box {
    display: flex;
    justify-content: center;
}